<!-- <h1 class="text-center">顯示文章</h1> -->
<div class="col-md-8 col-md-offset-2">
<!-- 	<%= render "common/form_show_content" %> --> 
	<div class="jumbotron">
		<p><%= simple_format(@post.content) %></p>
	</div>
</div>
